.main-box{
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-item-flex{
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 1px;
}

.box-item-flex:first-child{
    background-color: lightgreen;
}

.box-item-flex:nth-child(2){
    background-color: lightcoral;
}

.box-item-flex:last-child{
    background-color: lightgoldenrodyellow;
}