
main {
  margin: 20px;
  max-width: 900px;
  min-height: 440px;
  margin: 0 auto;
}
section {
  margin: 0;
  padding: 0;
  text-align: center;
}

section h1 {
  margin: 10px 20px;
}
section .content-sec {
  background-color: #326ab7;
}

.column-sec-1,
.column-sec-2,
.column-sec-3,
.column-sec-4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/* 1 */
.column-sec-1 {
  padding-bottom: 5px;
}

.column-sec-2 {
  padding: 5px 35px;

  justify-content: space-between;
}

.column-sec-3 {
  padding: 5px 10px;

  justify-content: space-between;
}

.column-sec-4 {
  padding-top: 5px;

  justify-content: center;
}